# Ignorar todo en data/
data/*
Proyecto-Reloaded-The-Last-Beta-1.8.5.exe

# Pero no ignorar estas carpetas específicas
!data/equipos/
!data/partidas/
!data/capturas/
!data/char_custom/

# También asegurarse de no ignorar el contenido dentro de esas carpetas
!data/equipos/**
!data/partidas/**
!data/capturas/**
!data/char_custom/**